@import '../../style.less';
.focus-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#left-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:10vw;
  align-items: center;
  align-content: center;
  justify-content: center;

}
#exit{
  height: 40vh;
  width: inherit;
  &:hover #exitF{
    color: white;
  }
}
#prev{
  height: 50vh;
  width: inherit;
  &:hover #ptrR{
    color: white;
  }
}

#mid-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#right-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  &:hover #ptrL{
    color: white;
  }
}

#focus-img{
  margin-top: 2vh;
  max-height: 95vh;
  max-width: inherit;
}

.show-stuff{
  color: slategray;
}

#ptrR{
  color: transparent;
  font-size: 2.7rem;
  margin: auto;
  border-radius: 8px;
  border: 3px solid transparent;
  position: absolute;
  left:1vw;
  top:45vh;
  &:hover{
    border-color: white !important;
    color: white !important;
    cursor: pointer;
  }
}
#ptrL{
  color: transparent;
  font-size: 2.7rem;
  margin: auto;
  border-radius: 8px;
  border: 3px solid transparent;
  position: absolute;
  right:1vw;
  
  &:hover{
    border-color: white !important;
    color: white !important;
    cursor: pointer;
  }
}

.sticky-L{
  position: absolute !important;
  right:1px;
}
.sticky-R{
  position: absolute !important;
  left:1px;
}


#exitF{
  color: transparent;
  position: absolute;
  top: 2vh;
  left: 1vw;
  font-size: 2rem;
  padding: 3px;
  border-radius: 8px;
  border: 3px solid transparent;
 
  &:hover{ 
    border-color: white !important;
    color: white !important;
    cursor: pointer;
    box-shadow: 50px 50px 100px #colors[quaternary];
  }
  
}



#desc{
  font-weight: 600;
  color: rgb(208, 205, 205);
  text-align: center;
  width: inherit;
  font-size: 2.5vh;
  height: 3vh;
}

